<div class="new-user">

  <h1>New User</h1>

  <form class="new-user-form" method="post">

    <input type="text" name="user[user_name]" placeholder="User Name">
    <br>
    <input type="text" name="user[user_email]" placeholder="Email">
    <br>
    <input type="password" name="user[password]" placeholder="Password">
     <br>
    <button class="submit-button">Create User!</button>
  </form>


</div>
