<h1>New User</h1>

<form class="signup-form" method="post">
  User Name: <br>
  <input type="text" name="user[user_name]" placeholder="...">
  <br> User Email: <br>
  <input type="text" name="user[user_email]" placeholder="...">
  <br> Password: <br>
  <input type="password" name="user[password]" placeholder="...">
   <br>
  <button>Create User!</button>
</form>
