<header>
  <nav class="header-nav group">
    <h1 class="header-logo">
      <a href="#">UberDictionary</a>
    </h1>

    <ul class="header-list">
      <li>
        <input type="text" class="query" placeholder="Type in a word!">
      </li>
      <li><a class="header-button" id="new-def"> <i class="fa fa-plus"></i> </a> </li>
      <li><a class="header-button" href="#"><i class="fa fa-home"></i></a> </li>
      <li><a class="header-button" href="#/session/new"><i class="fa fa-user"></i></a></li>
    </ul>
  </nav>
</header>
