
<h1> Submit a new image!</h1>
<p>
  Please ensure that all images are relevant to given words, as well as SFW. Thanks!
</p>

<form class="img-upload-form">

  <input type="file" name="defin[image]" id="input-image">
  <button class="submit-button">Submit</button>
</form>


<button class="exit-modal">Cancel</button>
