<h1>New Def</h1>

<form class="new-defin-form" method="post">
  Word: <br>
  <input type="text" name="defin[word]">
  <br> Definition: <br>
  <input type="text" name="defin[defin]">
  <br> Example Sentence: <br>
  <input type="text" name="defin[ex_sentence]">
  <br> Image Url: <br>
  <input type="text" name="defin[img_url]" placeholder="optional...">
   <br>
  <button>Create Def!</button>
</form>

<a href="#"> Back </a>
