<div class="new-word">

  <h1>New Word</h1>

  <form class="new-word-form" method="post">
    <input type="textarea" name="defin[word]" placeholder="Word"> <br>
    <textarea name="defin[defin]" placeholder="Type your definition here..."></textarea><br>
    <textarea name="defin[ex_sentence]" placeholder="Type an example of how it's used in a sentence..."></textarea><br>
    <input type="textarea" name="defin[img_url]" placeholder="img url optional..."><br>
    <br>
    <button class="submit-button">Create Word!</button>
  </form>
  <button class="exit-modal">Cancel</button>

</div>
