  <h1>New Word</h1>
  <form class="new-word-form">
    <input type="textarea" name="defin[word]" placeholder="Word"> <br>
    <textarea name="defin[defin]" placeholder="Type your definition here..."></textarea><br>
    <textarea name="defin[ex_sentence]" placeholder="Type an example of how it's used in a sentence..."></textarea><br>
    <br>
    <button class="submit-button">Create Word!</button>
    <button class="exit-modal">Cancel</button>
  </form>
