<h1>New Def</h1>
<% if @defin.errors.any? %>
    <% @defin.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
<% end %>


<form class="new-defin-form" action="/defins" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="defin[author_id]" value="<%=current_user.id%>">
  Word: <br>
  <input type="text" name="defin[word]">
  <br> Definition: <br>
  <input type="text" name="defin[defin]">
  <br> Example Sentence: <br>
  <input type="text" name="defin[ex_sentence]">
  <br> Image Url: <br>
  <input type="text" name="defin[img_url]">
   <br>
  <button>Create Def!</button>
</form>

<a href="<%= defins_url %>"> Back </a>
