/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1,
ul, main, i,
section, img, div, h2, p,
fieldset, label, textarea,
span, article, footer, time, small, a {
 padding: 0;
 border: 0;
 outline: 0;
 margin: 0;
 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 box-sizing: inherit;
 background: transparent;
}

ul {
 list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: #EEEEEE;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  color: white;
  background: #1D2439;
}
.header-logo {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

.header-logo:hover{
  color: #EFFF00;
}

.header-nav {
  margin: auto;
  width: 960px;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
}

.header-button {
  margin-left: 15px;
  margin-bottom: 15px;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 37px;
  background: #134FE6;
  border-radius: 50%;
  display: inline-block;
}

.header-list > li:nth-of-type(4) > a {
  font-size: 19px;
}
.header-button:hover {
  color: #05ff56;
}

.query {
  height: 50px;
  width: 750px;
  border-radius: 2px;
  border: 0px;
  font-size: 20px;
  text-indent: 10px;
}

.defin-list {
 margin: auto;
}

.defin-list > li {
 padding: 20px;
 width: 910px;
 position: relative;
 background-color: white;
 margin: 25px auto;
 text-indent: 10px;
 min-height: 200px;
 box-shadow: 1px 1px 2px #DBDBDB;
}

.defin > ul {
  float: left;
  max-width: 620px;
}

.defin > img {
 display: block;
 float: right;
 width: 300px;
}

.word {
 margin-top: 20px;
 color: #134FE6;
 font-family: "Lora", Georgia, "Times New Roman", Times, serif;
 font-weight: bold;
 font-size: 30px;
}

.example {
 font-style: italic;
}

.authoring-details {
 font-weight: bold;
}

.authoring-details > a {
  color:  #134FE6;
}
.authoring-details > a:hover {
  color:  #05ff56;
}

.downvote, .upvote {
 box-shadow: 0 2px 0 black;
 border-radius: 20px;
 text-align: center;
 border: 1px #000 solid;
 height: 2.5rem;
 padding-top: 0.5rem;
 padding-bottom: 0;
 background-color: #FFFFFF;
}

.downvote:hover, .upvote:hover {
 background-color: #05ff56
}

.upvote {
  padding-right: 0.5rem;
  padding-left: 1rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.downvote {
 padding-right: 1rem;
 padding-left: 0.5rem;
 border-bottom-left-radius: 0;
 border-top-left-radius: 0;
}

.vote-button-content {
 position: relative;
 bottom: 4px;
 font-size: 15px;
}

.voted {
  border-right: 0px;
  box-shadow: 0 0 0 black;
  position: relative;
  top: 2px;
  background-color: #05ff56;
}

.new-word {
  position: absolute;
  z-index: 9000;
  top: 0px;
  height: 100%;
  width: 100%;
}
.new-word {
  background: rgba(0, 50, 200, 0.9);
}

.new-word > h1, .new-session > h1, .new-user > h1 {
  margin: 38px auto;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  width: 170px;
  padding-bottom: 10px;
  border-bottom: 2px solid #EFFF00;
  font-size: 28px;
}
.new-session > h1, .new-user > h1 {
  color: black;
}

.new-word-form, .sign-in-form, .new-user-form {
  padding: 20px;
  width: 800px;
  background: white;
  display: block;
  margin: auto;
}

.new-word-form > input,
.new-word-form > textarea,
.sign-in-form > input,
.new-user-form > input {
  display: block;
  font-size: 16px;
  padding: 20px;
  width: 94.5%;
  margin-bottom: 16px;
}

.new-word-form > textarea  {
  border: 1px solid #ccc;
}

.new-word-form > textarea:nth-of-type(1)  {
  height: 130px;
}
.new-word-form > textarea:nth-of-type(2)  {
  height: 90px;
}

.submit-button {
  margin-top: 40px;
  background-color: #EFFF00;
  color: black;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.exit-modal {
  font-size: 24px;
  display: block;
  margin: auto;
}

.welcome {
  width: 600px;

  display: block;
  margin: auto;
}
.welcome > form, .welcome > p, .welcome > h1 {
  padding: 20px;
  border-bottom: 1px solid black;
  display: block;
}

.welcome > p > a:hover {
  color: #05ff56;
}

.welcome > p > a {
  color: #134FE6;
}

.omniauth {
}

.omniauth > a {
  font-weight: bold;
  float: left;
  display: block;
  color: white;
  background: blue;
  padding: 20px;
  margin-left: 70px;
  margin-top: 20px;
  box-shadow: 0 2px 0 black;
}

.omniauth > a:hover {
  color: #05ff56;
}
