<p id="notice"><%= notice %></p>

<h1>Listing Defs</h1>

<% @defs.each do |_def| %>
  <li>
    <%= _def.word %> <br>
    id: <%= _def.id %> <br>
    author: <%= _def.author_id ? User.find(_def.author_id).user_name : "None"%> <br>
  </li>
<% end %>

<br>

<a href="/defs/new">New Def</a>
