<h1>New Def</h1>
<% if @def.errors.any? %>
    <% @def.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
<% end %>


<form class="new-def-form" action="/defs" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <% if current_user %>
  <input type="hidden" name="def[author_id]" value="<%=current_user.id%>">
  <% end %>
  Word: <br>
  <input type="text" name="def[word]">
  <br> Definition: <br>
  <input type="text" name="def[def]">
  <br> Example Sentence: <br>
  <input type="text" name="def[ex_sentence]">
  <br> Image Url: <br>
  <input type="text" name="def[img_url]">
   <br>
  <button>Create Def!</button>
</form>

<%= link_to 'Back', defs_path %>
