<header>
  <nav class="header-nav group">
    <h1 class="header-logo">
      <a href="#">UberDictionary</a>
    </h1>

    <ul class="header-list">
      <li>
        <input type="text" class="search-bar" placeholder="Doesn't work yet...">
      </li>
      <li class="header-button"><a href="#/defins/new"> + </a></li>
      <li class="header-button"><a href="#"> H </a></li>
      <li class="header-button">
        <a href="#/users/new">New User</a>
      </li>
    </ul>
  </nav>
</header>
