<header>
  <nav class="header-nav group">
    <h1 class="header-logo">
      <a href="#">UberDictionary</a>
    </h1>

    <ul class="header-list">
      <li>
        <input type="text" class="search-bar" placeholder="Doesn't work yet...">
      </li>
      <li><a class="header-button" href="#/defins/new"> + </a> </li>
      <li><a class="header-button" href="#"> H </a> </li>
      <li><a class="header-button" href="#/session/new">Login</a></li>
    </ul>
  </nav>
</header>
